{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | โรงเรียนห้วยข่าพิทยาคม</title>
    <link rel="stylesheet" href="{% static 'asset/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'asset/js/bootstrap.js' %}">
    <link rel="stylesheet" href="{% static 'asset/js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js" integrity="sha512-xgIrH5DRuEOcZK5cPtVXx/WSp5DTir2JNcKE5ahV2u51NCTD9UDxbQgZHYHVBlPc4H8tug6BZTYIl2RdA/X0Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="shortcut icon" href="{% static 'asset/img/icon.jpg' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
  
        body{
          font-family: 'Kanit', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container p-3">
    {% include 'systems/components/navbar.html' %}
    {% block body %}{% endblock %}
    {% include 'systems/components/footer.html' %}
    </div>
    <script>
        
        $(document).ready(function () {
            $("#viewData").DataTable({
              dom: '<"dt-buttons"Bf><"clear">lirtp',
              paging: true,
              autoWidth: true,
              buttons: [
                "colvis",
                "copyHtml5",
                "csvHtml5",
                "excelHtml5",
                "pdfHtml5",
                "print"
              ],
              initComplete: function (settings, json) {
                $(".dt-buttons .btn-group").append(
                  '<a id="cv" class="btn btn-primary" href="#">CARD VIEW</a>'
                );
                $("#cv").on("click", function () {
                  if ($("#example").hasClass("card")) {
                    $(".colHeader").remove();
                  } else {
                    var labels = [];
                    $("#example thead th").each(function () {
                      labels.push($(this).text());
                    });
                    $("#example tbody tr").each(function () {
                      $(this)
                        .find("td")
                        .each(function (column) {
                          $("<span class='colHeader'>" + labels[column] + ":</span>").prependTo(
                            $(this)
                          );
                        });
                    });
                  }
                  $("#example").toggleClass("card");
                });
              }
            });
          });
    </script>
</body>
</html>